<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin App + jQuery">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>Angle - Bootstrap Admin Template</title>
    <!-- =============== VENDOR STYLES ===============-->
    <line href="@Url.Content("~/Vendor/fontawesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <line href="@Url.Content("~/Vendor/simple-line-icons/css/simple-line-icons.css")" rel="stylesheet" type="text/css" />
    <!-- =============== PAGE VENDOR STYLES =============== -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" id="bscss" />
    <!-- =============== APP STYLES ===============-->
    <link href="@Url.Content("~/Content/app.css")" rel="stylesheet" type="text/css" id="maincss" />
</head>

<body>
    <div class="wrapper">
        @RenderBody()
    </div>
    <div class="p-lg text-center">
        <span>&copy;</span>
        <span>2016</span>
        <span>-</span>
        <span>Angle</span>
        <br>
        <span>Bootstrap Admin Template</span>
    </div>

    <!-- =============== VENDOR SCRIPTS ===============-->
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Vendor/jQuery-Storage-API/jquery.storageapi.js"></script>
    <script src="~/Vendor/parsleyjs/dist/parsley.min.js"></script>
    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    @RenderSection("scripts", required: false)
    <!-- =============== APP SCRIPTS ===============-->
    <script src="~/Scripts/clear-storage.js"></script>

</body>

</html>