@model IEnumerable<Erp.Application.Employee.Dto.EmployeeListDto>

@{
    ViewBag.Title = "员工管理";
}

<h3>员工管理</h3>

<p>
    <button type="button" data-toggle="modal" data-target="#addModal" class="btn btn-primary">添加</button>
</p>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">员工列表</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="tbEmployee" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>员工序号</th>
                                <th>登录名</th>
                                <th>姓名</th>
                                <th>联系号码</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.SerialNumber</td>
                                        <td>@item.User.UserName</td>
                                        <td>@item.User.Name</td>
                                        <td>@item.User.PhoneNumber</td>
                                        <td>
                                            <button type="button" data-toggle="modal" data-target="#updateModal" class="btn-modify btn btn-primary" data-id="@item.Id">编辑</button>
                                            <button type="button" class="btn-delete btn btn-danger" data-id="@item.Id">删除</button>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section BodyArea {
    <!-- Modal-->
    <div id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="myModalLabel" class="modal-title">添加员工</h4>
                </div>
                <div class="modal-body">
                    <form id="addForm">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">员工序号</label>
                                <div class="col-sm-6">
                                    <input type="text" name="UserCode" required="required" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">登录名</label>
                                <div class="col-sm-6">
                                    <input type="text" name="UserName" required="required" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-6">
                                    <input type="text" name="RealName" required="required" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">联系号码</label>
                                <div class="col-sm-6">
                                    <input type="text" name="PhoneNum" data-parsley-type="number" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                    <button type="button" class="btn btn-primary" id="addsubmit">添加 </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal-->
    <div id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="updateForm">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 id="myModalLabel" class="modal-title">修改员工</h4>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">员工序号</label>
                                <div class="col-sm-6">
                                    <input type="text" id="updateModal_userCode" name="UserCode" required="required" class="form-control" />
                                    <input type="hidden" id="updateModal_txtUserId" name="UserId" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">登录名</label>
                                <div class="col-sm-6">
                                    <input type="text" id="updateModal_userName" name="UserName" required="required" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-6">
                                    <input type="text" id="updateModal_realName" name="RealName" required="required" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">联系号码</label>
                                <div class="col-sm-6">
                                    <input type="text" id="updateModal_phoneNum" name="PhoneNum" data-parsley-type="number" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                        <button type="button" class="btn btn-primary" id="updatesubmit">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}


@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
}
@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/parsley")
    <script src="~/Scripts/StaffManagerment/UserInfo.js"></script>
}